
{% extends '::base.html.twig' %}
{% block stylesheets %}<link href="{{ asset('css/mystyle.css') }}" rel="stylesheet" type="text/css" />{% endblock %}


{% block cuerpo%}
    <div class="http-error">
        <h1>Oops! {{ status_code }} </h1>
        <p class="info">{{ status_text }}</p>

        <p><i class="icon-home"></i></p>
        <p><a href="{{ path('escalera_backsedes_homepage') }}">Regresar</a></p>
        <p class="info">Quizá hay algún error</p>
    </div>
{% endblock %}