{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article -%}
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Editar</h4>
  <a href="{{ path('celulas') }}" class="btn btn-success">
            Regresar a las Células
    </a>
</div>  

 



    
    <form action="{{ path('celulas_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-success"><i class="icon-edit"></i> Editar</button>
        </p>
    </form>

     
    
  <div class="previous disabled">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Tenga cuidado</h4>
        <form action="{{ path('celulas_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="previous disabled"> <i class="icon-remove"></i> Eliminar</button>
        </form>
    </div>  
{% endblock %}
