{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article -%}

{% if tipo == 'celula' %}
    <h3>Total de células {{ app.user.sede }} {{ entities.getTotalItemCount }}</h3>
{% else %}
    <h3>Formulario semanal</h3>
    <a href="{{ path('doce_activos') }}">Volver a los doce</a>
     
{% endif %}
{% if entities == null %}
    <div class="alert alert-success">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Deberías crear una célula, ya que no tienes ninguna</h4>
    </div>
{% else %}  
   <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Codigo celula</th>
                <th>Fecha Apertura</th>
                <th>Lider</th>
                <th>Hora</th>
                <th>Novedad</th>
                <th>Anfitrion</th>
                <th>Direccion</th>
                <th>Barrio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('celulas_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.codigocelula }}</td>
                <td>{% if entity.fechaapertura %}{{ entity.fechaapertura|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.idlidercelula }}</td>
                <td>{{ entity.hora|date('H:i') }}</td>
                <td>{{ entity.novedad }}</td>
                <td>{{ entity.anfitrion }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.barrio }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                
                    
                        <a href="{{ path('celulas_show', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-eye-open"></i> Ver</a>
                    
                       <a href="{{ path('celulas_edit', { 'id': entity.id }) }}" class="btn btn-warning"> <i class="icon-edit"></i>  Editar</a>
                 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    {{ knp_pagination_render(entities) }}
    </div>
{% endif %}
        <ul>
        <li>
            <a href="{{ path('celulas_new') }}" class="btn btn-primary dropdown-toggle">
                Crear Nueva célula
            </a>
        </li>
    </ul>
    {% endblock %}
