{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article -%}
    <h1>Crear células</h1>
    
     <ul class="record_actions">
    <li>
        <a href="{{ path('celulas') }}">
            Regresar
        </a>
    </li>
</ul>
    
    <form action="{{ path('celulas_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">Crear célula</button>
        </p>
    </form>

       
{% endblock %}
