{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article -%}
    
<h3>Celula del equipo</h3>
<a href="{{ path('doce_activos_celulas', { 'id': equipofinal.id }) }}">Volver a las células de {{ equipo.equipo12 }}</a>
   <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <tbody>
            <tr>
                <th>Código célula</th>
                <td>{{ entity.codigocelula }} __ {{ entity.idlidercelula }}</td>
                <th>Fecha apertura</th>
                <td>{{ entity.fechaapertura|date('d, M-Y') }}</td>
            </tr>
            <tr>
                <th>Novedad</th>
                <td>{{ entity.novedad }}</td>
                <th>Hora</th>
                <td>{{ entity.hora|date('H:m') }}</td>
            </tr>
            <tr>
                <th>Anfitrión</th>
                <td>{{ entity.anfitrion }}</td>
                <th>Dirección</th>
                <td>{{ entity.direccion }} {{ entity.barrio }}</td>
            </tr>
        </tbody>
   </table>

   <div class="alert alert-success">
   
        <a href="{{ path('celulas') }}" class="btn btn-primary">
            Regresar
        </a>
    
        <a href="{{ path('celulas_edit', { 'id': entity.id }) }}" class="btn btn-warning">
            <i class="icon-edit"></i> Editar
        </a>
       
      {#    <hr>
            <form action="{{ path('celulas_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Borrar</button>
        </form> #}
   </div>

           <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Gráfica!</h4>
  Este es un gráfico experimental de las últimas 5 células realizadas
  {% if realizadas == null %}
  <h5>esta célula apenas ha sido registrada, aún no se ha realizado, y por eso no se puede generar un gráfico</h5>
  {% else %}
  <hr>
  {% for realizadas in realizadas %}
  
  <div id="{{ realizadas.id }}" 
       style="
       height: {{ realizadas.asistentes }}px; 
       width: 30px;
       margin: 5px;
       background-color:#F63;
       float: left;
       "
       title="Asistentes {{ realizadas.asistentes }}">
  </div>
  
  {% endfor %}
  {% endif %}
</div>
   
        {% endblock %}
        
        {% block sidebar -%}
    <h3>Nuevo registro</h3>

    <form action="{{ path('celulas_show', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Crear</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('info') }}">
            Back to the list
        </a>
    </li>
        </ul>
        {% endblock %}