{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article -%}
    <h1>Editar Equipos de doce</h1>
    <hr>
    <li>
        <a href="{{ path('doce') }}">
            Regresar
        </a>
    </li>
    <hr>
    <form action="{{ path('doce_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Editar</button>
        </p>
    </form>

        <ul class="record_actions">
   
    <li>
        <form action="{{ path('doce_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
