{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title -%}Formulario de Células{% endblock %}
{% block article -%}
   
{% if llenar == 'llenar' %}
<h1>Formulario Semanal</h1>
{% else %}
     <h1>Listado de los doce</h1>
{% endif %}
    <ul>
        <li>
            <a href="{{ path('doce_new') }}">
                Crear nuevo
            </a>
        </li>
    </ul>
    
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lider</th>
                <th>Fecha ingreso</th>
                
                <th>Red</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('doce_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.idlider }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('d, M-Y') }}{% endif %}</td>
                
                <td>{{ entity.idred }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('doce_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('doce_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('doce_activos_celulas', { 'id': entity.id }, { 'llenar': 'llenar' }) }}">Células</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
