{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article -%}
    <h1>Agregar al equipo de doce</h1>

    <form action="{{ path('doce_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear Equipo</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('doce') }}">
           Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
