{% block id 'usuario' %}
{% block title %}Regístrate gratis como usuario{% endblock %}
{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('themes_bootstrap_registro') }}" method="post" {{ form_enctype(formulario) }}>
    {{ form_widget(formulario) }}
        <input class="boton" type="submit" value="Registrar" />
    </form>        
    


{% endblock %}
{% block aside %}{% endblock %}
