<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <!--[id ie]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" ><![endif]-->
        <title>{% block title %}Bienvenidos...{% endblock %}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MCI Boyacá">
    <meta name="author" content="Jairo Fernández">
        <script src="{{ asset('bundles/escalerabacksedes/lib/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>
        {% block stylesheets %}{% endblock %}
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
          <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        
        
        <!-- Le fav and touch icons -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      
        
        
    </head>
    
  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
    
    
    <body class="">
 <!--<![endif]-->
{% block cuerpo %}{% endblock %}       
  
{% block javascripts %}{% endblock %}
                    <script type="text/javascript">
                        $("[rel=tooltip]").tooltip();
                        $(function() {
                            $('.demo-cancel-click').click(function(){return false;});
                        });
                    </script>
    </body>
</html>
