{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article %}
 <div class="container-fluid">
     <div class="span12">
      <div id="myCarousel" class="carousel slide">
       
       <div class="carousel-inner">
       <div class="active item">
        <img src="http://lorempixel.com/800/250/nature/1/">
       </div>
       <div class="item"><img src="http://lorempixel.com/800/250/nature/2/"></div>
       <div class="item"><img src="http://lorempixel.com/800/250/nature/3/"></div>
       </div>
       
       <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
       <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
       </div>       
      </div>
 </div>
      
{% endblock %}
{% block sidebar %}
   <div class="span12">
   <a class = "twitter-timeline" href="https://twitter.com/MCITunja" data-widget-id="345689031117524992" >
   Tweets por @MCITunja
   </a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
       </div>
{% endblock %}