{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block title -%}Listado de Ganados{% endblock %}

{% block article -%}
    <h2>Listado Total ({{ entities.getTotalItemCount }})</h2>

    
    <div class="btn-toolbar">
     <a href="{{ path('ganados_new') }}" class="btn btn-primary">
                <i class="icon-plus"></i> Crear nuevo ganado
     </a>
    <button class="btn">Importar</button>
    <button class="btn">Exportar</button>
  <div class="btn-group">
  </div>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombres</th>
               
                <th>Edad</th>
                <th>Teléfono</th>
                
                <th>Dirección</th>
                
                <th>Fecha    </th>
                
                <th>Peticiones</th>
                <th>Genero</th>
                <th>Seguimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('ganados_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.nombres }} {{ entity.apellidos }}</td>
                
                <td>{{ entity.edad }}</td>
                <td>{{ entity.telefono }}</td>
              
                <td>{{ entity.direccion }} {{ entity.barrio }}</td>
               
                <td>{% if entity.fechaInvita %}{{ entity.fechaInvita|date('d,M/y') }}{% endif %}</td>
                
                <td>{{ entity.peticiones }}</td>
                <td>{{ entity.genero }}</td>
                <td>{{ entity.seguimiento }}</td>
                
                <td>
                
                        <a href="{{ path('ganados_show', { 'id': entity.id }) }}"><i class="icon-star"> </i></a>
                                      
                        <a href="{{ path('ganados_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="pagination">
    {{ knp_pagination_render(entities) }}
</div>
        
    {% endblock %}
