{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block title -%}Formulario de Ganados{% endblock %}

{% block article -%}
    <h1>Creación de ganados</h1>

    <form action="{{ path('ganados_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Registrar !</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ganados') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
