{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block title -%}Detalle de {{ entity.nombres }} {{ entity.apellidos }} {% endblock %}

{% block article -%}
    <h1>ganados</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ entity.edad }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Barrio</th>
                <td>{{ entity.barrio }}</td>
            </tr>
            <tr>
                <th>Fechainvita</th>
                <td>{{ entity.fechaInvita|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tiempoasistencia</th>
                <td>{{ entity.tiempoAsistencia }}</td>
            </tr>
            <tr>
                <th>Peticiones</th>
                <td>{{ entity.peticiones }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ entity.genero }}</td>
            </tr>
            <tr>
                <th>Seguimiento</th>
                <td>{{ entity.seguimiento }}</td>
            </tr>
            <tr>
                <th>Fonovisita</th>
                <td>{{ entity.fonovisita }}</td>
            </tr>
            <tr>
                <th>Fechafonovista</th>
                <td>{{ entity.fechaFonovista|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Visita</th>
                <td>{{ entity.visita }}</td>
            </tr>
            <tr>
                <th>Fechavisita</th>
                <td>{{ entity.fechaVisita|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asistecelula</th>
                <td>{{ entity.asistecelula }}</td>
            </tr>
            <tr>
                <th>Asclider</th>
                <td>{{ entity.ascLider }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ganados') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ganados_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ganados_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
