{% extends '::base.html.twig' %}
{% block stylesheets %}

{% stylesheets output='css/mystyle.css' filter='cssrewrite,yui_css' debug=false 
'bundles/escalerabacksedes/lib/bootstrap/css/bootstrap.css'
'bundles/escalerabacksedes/stylesheets/theme.css'
'bundles/escalerabacksedes/lib/font-awesome/css/font-awesome.css'
-%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}
    
{% block cuerpo -%}
 
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                    <li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">Configuraciones</a></li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{ app.user.nombres }}
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="{{ path('backsedes_perfil') }}">Mi perfil</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">Configuraciones</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="{{ path('backsedes_logout') }}">Salir</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="#"><span class="first">MCI</span> <span class="second"> Sede {{ app.user.sede }}</span></a>
        </div>
    </div>
     
        <div class="sidebar-nav">
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Menú Ppal</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="{{ path('escalera_backsedes_homepage') }}">Inicio</a></li>
            <li ><a href="{{ path('backsedes_reuniones') }}">Reuniones</a></li>
            <li ><a href="{{ path('backsedes_lideres_show') }}">Líderes</a></li>
            <li ><a href="{{ path('red') }}">Redes</a></li>
            <li ><a href="{{ path('doce') }}">Equipo de doce</a></li>
            
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>Ganar<span class="label label-info">+3</span></a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="#">Formulario ganar</a></li>
            <li ><a href="{{ path('ganados') }}">Informe</a></li>
            <li ><a href="#">Estadísticas</a></li>
        </ul>

        <a href="#error-menu" class="nav-header collapsed" data-toggle="collapse"><i class="icon-exclamation-sign"></i>Consolidar <i class="icon-chevron-up"></i></a>
        <ul id="error-menu" class="nav nav-list collapse">
            <li ><a href="#">403 page</a></li>
            <li ><a href="#">404 page</a></li>
            <li ><a href="#">500 page</a></li>
            <li ><a href="#">503 page</a></li>
        </ul>

        <a href="#legal-menu" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>Discipular</a>
        <ul id="legal-menu" class="nav nav-list collapse">
            <li ><a href="#">Escuela</a></li>
            <li ><a href="#">Cursos</a></li>
        </ul>

        <a href="#legal-menu2" class="nav-header" data-toggle="collapse"><i class="icon-legal"></i>Enviar</a>
        <ul id="legal-menu2" class="nav nav-list collapse">
            <li ><a href="{{ path('backsedes_lideres') }}">Crear Líderes</a></li>
            <li ><a href="{{ path('celulas') }}">Células</a></li>
            <li ><a href="{{ path('doce_activos') }}">Formulario Semanal</a></li>
        </ul>
        <a href="#" class="nav-header" ><i class="icon-question-sign"></i>Manual</a>
        <a href="#" class="nav-header" ><i class="icon-comment"></i>Faq</a>
    </div>      
<div class="content">
    
    <div class="header">
            <div class="stats">
    <p class="stat"><span class="number">53</span>tickets</p>
    <p class="stat"><span class="number">27</span>tareas</p>
    <p class="stat"><span class="number">15</span>espera</p>
            </div>

            <h1 class="page-title">{{ block('title') }}</h1>
     </div>
     <ul class="breadcrumb">
            <li><a href="{{ path('escalera_backsedes_homepage') }}">Home</a> <span class="divider">/</span></li>
            <li class="active">{{ block('title') }}</li>
     </ul>
<div class="container-fluid">
    {% for tipo, mensajes in app.session.flashbag.all() %}
        {% for mensaje in mensajes %}
                <div class="row-fluid">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{ tipo }}:</strong> {{ mensaje }}!
                </div>
        {% endfor %}
    {% endfor %}

<div class="well">
                {% block article %}

                {% endblock %}  
                {% block sidebar %}
                    
                {% endblock %}
    


{% block footer %}
            <footer> 
                <hr>
                <p class="pull-left">&copy; <a href="#" target="_blank"> Misión Carismática Internacional Tunja</a></p>
                <p class="pull-right">Soporte: <a href="http://tucompualdia.wordpress.com/" target="_blank"> Tu compu al día</a></p>
                
            </footer>
{% endblock %}
        
         </div>
            </div>
    </div>

{% endblock %}
         

{% block javascripts %}
{% javascripts output='js/myscript.js' filter='yui_js' debug=false
'bundles/escalerabacksedes/lib/bootstrap/js/bootstrap.js'
-%}
         <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
