{# Edición de Reuniones #}
{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article %}
{% if formulario.vars.value.sedeId ==  app.user.sede %}


{{ form_start(formulario, {'action': path('backsedes_reuniones_editar',{'id': reunion.id }) }) }}
    {{ form_errors(formulario) }} 
    
{# {% if app.request == 'POST' %}
<div class="alert alert-success">
  Muy bien!!
</div>
{% endif %} #}
        <div style="display: none;">
        {{ app.user.sede }}
        {{ form_label(formulario.sedeId,'Sede') }}
        {{ form_errors(formulario.sedeId) }}
        {{ form_widget(formulario.sedeId) }}
        </div>
         <div>
        {{ form_label(formulario.idreunion,'Nombre de la Reunión') }}
        {{ form_errors(formulario.idreunion) }}
        {{ form_widget(formulario.idreunion) }}
        </div>
         
        {{ form_label(formulario.activo,'Estado') }}
        {{ form_errors(formulario.activo) }}
        {{ form_widget(formulario.activo) }}
        <div>
        {{ form_label(formulario.detalles,'Detalles') }}
        {{ form_errors(formulario.detalles) }}
        {{ form_widget(formulario.detalles) }}
        </div>
        <div>
        {{ form_label(formulario.fechaApertura,'Fecha de Apertura') }}
        {{ form_errors(formulario.fechaApertura) }}
        {{ form_widget(formulario.fechaApertura) }}
        </div>
        {{ form_widget(formulario.Crear, {'label': 'Actualizar'}) }}  
        
{{ form_end(formulario) }}
<a href="{{ path('backsedes_reuniones') }}" class="btn btn-large btn-primary"><i class="icon-chevron-left icon-white"></i> Regresar</a> 
        
{# </form> #}

{% else %}
<div class="alert alert-error">
    <strong>... Oooppppsssss</strong> Parece que no deberías estar acá 
</div>
<hr>
<button class="btn btn-danger dropdown-toggle"><a class="" href="{{ path('backsedes_reuniones') }}">Regresar</a></button>
<hr>

{% endif %}



{% endblock %}