{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article %}

{% if lideres==null %}
<span class="label label-important">Aún no has creado Lideres</span>
{% else %}
<span class="label label-important">{{ lideres.getTotalItemCount }}</span>

<table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
            <tr>
                <th>No.</th>
                <th>Nombres</th>
                <th>Equipo</th>
                <th>Sede</th>
                <th></th>
            </tr>
            </thead>
        <tbody>
                
{% for lideres in lideres %}
                <tr class="{% if lideres.estado == false %}error{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>
                    {% if lideres.estado == false %}
                            <span class="label label-important">Inactivo</span>
                    {% else %}
                            <span class="label label-success">Activo -</span>
                    {% endif %}
                    {{ lideres.nombres }} {{ lideres.apellidos }}
                    </td>         
                    <td>{{ lideres.equipo12 }}</td> 
                    <td></td> 
                    <td><a class="btn btn-info" href="{{ path('backsedes_lideres_editar', { 'id': lideres.id }) }}"> <i class="icon-edit icon-white"></i> </a></td>
                </tr>
    {% endfor %}
        </tbody>
        </table>
<div class="pagination">
    {{ knp_pagination_render(lideres) }}
</div>

{% endif %}

{% endblock %}
{% block aside %}

{% endblock %}