{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block title %}

{{ accion == 'crear' ? 'Crea tu líder':
                     'Edita a ' ~lider.nombres
}}
{% endblock %}
{% block article %}

<div class="container-fluid">
    {% if accion == 'crear'  %}   
    <div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Crear líder!</strong> Estás creando un nuevo líder. Verifica que no exista
   </div>	
    {% else %}
    <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Ten cuidado {{ app.user.nombres }}!</strong> Estás modificando a {{ lider.nombres }} {{ lider.apellidos }}  <a href="{{ path('backsedes_lideres_show') }}"><i class="icon-arrow-left"></i> Regresar</a>
   </div>                
    {% endif %} 
                
                <fieldset class="span3">
                    {{ form_start(formulario, {'action': accion == 'crear'? path('backsedes_lideres'): 
                                                         path('backsedes_lideres_editar', { 'id': lider.id }) }) }}
                    <div class="success">{{ form_errors(formulario) }}</div> 
                   
                        <div class="alert alert-block">
                         <button type="button" class="close" data-dismiss="alert">&times;</button>
                         <h4>Datos Personales</h4>
                        </div>   
                   
                        {{ form_row(formulario.nombres) }}
                        {{ form_row(formulario.apellidos) }}
                           <div class="{% if(form_errors(formulario.genero)) == null %}{% else %}alert alert-error{% endif %}">
                             {{ form_errors(formulario.genero) }}
                           </div>
                        {{ form_widget(formulario.genero) }}
                        {{ form_row(formulario.fechaNacimiento) }}
                    {{ form_label(formulario.emaillider,'Email') }}
                        {{ form_widget(formulario.emaillider) }}

                </fieldset>
                <fieldset class="span3"> 
                        <div class="alert alert-success">
                         <button type="button" class="close" data-dismiss="alert">&times;</button>
                         <h4>Otros</h4>
                        </div>  
                        
                        {{ form_row(formulario.estadoCivil) }}
                        {{ form_label(formulario.conyuge,'Selecciona conyuge, No requerido') }}
                        {{ form_widget(formulario.conyuge) }} 
                        {{ form_row(formulario.telefonoCasa) }}
                        {{ form_row(formulario.telefonoOficina) }}
                        {{ form_row(formulario.celular) }}
                </fieldset>
                <fieldset class="span3">
                        <div class="alert alert-error">
                         <button type="button" class="close" data-dismiss="alert">&times;</button>
                         <h4>Datos Iglesia</h4>
                        </div> 
                        {{ form_row(formulario.codigoMci) }}
                        {{ form_label(formulario.idliderinmediato, 'Lider Inmediato') }}
                        {{ form_widget(formulario.idliderinmediato) }}
                        {{ form_row(formulario.equipo12) }}
                         <div style="display: none">{{ form_row(formulario.sedeId) }}</div>
                        {{ form_row(formulario.celula) }}
                        {{ form_row(formulario.foto) }}
                      
                    {% if accion == 'editar'  %} 
                        {{ form_row(formulario.estado) }}
                        {{ form_widget(formulario.Crear, {'label': 'Actualizar'}) }} 
                    {% endif %} 
                 {{ form_end(formulario) }}
                </fieldset>        
                
                    </div>

{% endblock %}
