{% extends '::base.html.twig' %}
  
{% block stylesheets %}

{% stylesheets output='css/mystylelogin.css' filter='cssrewrite,yui_css' debug=false 
'bundles/escalerabacksedes/lib/bootstrap/css/bootstrap.css'
'bundles/escalerabacksedes/stylesheets/theme.css'
'bundles/escalerabacksedes/lib/font-awesome/css/font-awesome.css'
-%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}
    
    
{% block cuerpo %}
    
     <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    
                </ul>
                <a class="brand" href="index.html"><span class="first">MCI</span> <span class="second">Boyacá</span></a>
        </div>
    </div>
    


    

    
        <div class="row-fluid">
    <div class="dialog">
        <div class="block">
            <p class="block-heading">Login</p>
            <div class="block-body">
                <div class="alert alert-info">
                                            {% if error %}
                                                <div>{{ error.message }}</div>
                                            {% endif %}
						Introduce tu Usuario y contraseña.
                </div>
                <form action="{{ path('backsedes_login_check') }}" method="post">
                    <label>Usuario</label>
                    <input type="text" class="span12" name="_username">
                    <label>Password</label>
                    <input type="password" class="span12" name="_password">
                    <button type="submit" class="btn pull-right">Entrar</button>
                    <label class="remember-me"><input type="checkbox" value="_remember_me"> Recordarme</label>
                    <div class="clearfix"></div>
                    
                </form>
            </div>
        </div>
        <p class="pull-right" style=""><a href="http://tucompualdia.wordpress.com" target="_blank">Tu compu al día</a></p>
        <p><a href="">Olvidaste Tu password</a></p>
    </div>
</div>

{% endblock %}



{% block javascripts %}
{% javascripts output='js/myscriptlogin.js' filter='yui_js' debug=false
'bundles/escalerabacksedes/lib/bootstrap/js/bootstrap.js'
-%}
         <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}