{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article %}



{% block title %}Mi perfil {% endblock %}

<h1>{{ block('title') }}</h1>


  {{ form_start(formulario, {'action': path('backsedes_perfil') }) }}
    {{ form_errors(formulario) }}
    
    <div>
        {{ form_row(formulario.nombres) }} {{ form_row(formulario.apellidos) }}
    </div>
    <div>
        {{ form_row(formulario.password) }}
        <p class="">Si quieres cambiar la clave, escribela dos veces, si no dejala vacia </p>    
    </div>
    <div style="display:none">
       {{ form_row(formulario.sede,{ 'read_only':'true' }) }}
    </div>    
     
    {# <input class="btn btn-primary dropdown-toggle" type="submit" value="Actualizar" />  #}
  {{ form_end(formulario) }}
{% endblock %}
