{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}


{% block article %}
{# <form action="{{ path('backsedes_reuniones') }}" method="POST" {{ form_enctype(formulario) }}> #}

<div class="box-content">
    <h3 align="center">Listado de Reuniones</h3>
    {% if reunionestotal == null %}
     <span class="label label-important">Aún no has creado reuniones</span>
     {% else %}
     <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
            <tr>
                <th>No.</th>
                <th>Reunión</th>
                <th>Detalles</th>
                <th>Sede</th>
                <th></th>
            </tr>
            </thead>
        <tbody>
                
{% for reunionestotal in reunionestotal %}
                <tr class="{% if reunionestotal.activo == false %}error{% endif %}">
                    <td>{{ loop.index }}</td>
                    <td>
                    {% if reunionestotal.activo == false %}
                            <span class="label label-important">Inactivo</span>
                    {% else %}
                            <span class="label label-success">Activo -</span>
                    {% endif %}
                    {{ reunionestotal.idreunion }}
                    </td>         
                    <td>{{ reunionestotal.detalles }} {{ reunionestotal.fechaApertura|date('d, M-Y') }}</td> 
                    <td>{{ reunionestotal.sedeId }}</td> 
                    <td><a class="btn btn-info" href="{{ path('backsedes_reuniones_editar', { 'id': reunionestotal.id }) }}"> <i class="icon-edit icon-white"></i> </a></td>
                </tr>
    {% endfor %}
        </tbody>
        </table>
  {% endif %}

</div>


{% endblock %}

{% block sidebar %}
<div class="row-fluid sortable">
        <div class="box span6">
                
                         <h4><i class="icon-user"></i> Crear   </h4>
                
        <div class="box-content">
                        {{ form_start(formulario, {'action': path('backsedes_reuniones') }) }}
                                 {{ form_errors(formulario) }} 
    
                            {# {% if app.request == 'POST' %}
                                    <div class="alert alert-success">
                                        Muy bien!!
                                    </div>
                            {% endif %} #}
                <div style="display: none;">
                        {{ app.user.sede }}
                        {{ form_label(formulario.sedeId,'Sede') }}
                        {{ form_errors(formulario.sedeId) }}
                        {{ form_widget(formulario.sedeId) }}
                </div>
                <div>
                        {{ form_label(formulario.idreunion,'Nombre de la Reunión') }}
                        {{ form_errors(formulario.idreunion) }}
                        {{ form_widget(formulario.idreunion) }}
                </div>
                <div style="display: none;">
                {{ form_label(formulario.activo,'Estado') }}
                {{ form_errors(formulario.activo) }}
                {{ form_widget(formulario.activo) }}
                </div>
            
        
            {{ form_end(formulario) }}
            </div>
                {# </form> #}
        </div>
</div>
{% endblock %}