{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article -%}
    <h1>Listado</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha realizacion</th>
                <th>Asistentes</th>
                <th>Ofrenda</th>
                <th>Tema</th>
                <th>Novedad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('info_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaRealizacion %}{{ entity.fechaRealizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.asistentes }}</td>
                <td>{{ entity.ofrenda }}</td>
                <td>{{ entity.tema }}</td>
                <td>{{ entity.novedad }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('info_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('info_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('info_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
