{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article %}


{% endblock %}

{% block sidebar -%}
    <h3>Nuevo registro</h3>

    <form action="{{ path('info_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('info') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
