{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}
{% block title %}Células {% endblock %}
{% block article -%}
    <h1>celulasinfo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecharealizacion</th>
                <td>{{ entity.fechaRealizacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asistentes</th>
                <td>{{ entity.asistentes }}</td>
            </tr>
            <tr>
                <th>Ofrenda</th>
                <td>{{ entity.ofrenda }}</td>
            </tr>
            <tr>
                <th>Tema</th>
                <td>{{ entity.tema }}</td>
            </tr>
            <tr>
                <th>Novedad</th>
                <td>{{ entity.novedad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('info') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('info_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('info_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
