{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article -%}
    <h1>Redes Igle</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ministerored</th>
                <th>Idpastor1</th>
                <th>Idpastor2</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('red_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ministeroRed }}</td>
                <td>{{ entity.idPastor1 }}</td>
                <td>{{ entity.idPastor2 }}</td>
                <td>{{ entity.activo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('red_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('red_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('red_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
