{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article -%}
    <h1>red creation</h1>

    <form action="{{ path('red_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('red') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
