{% extends 'EscaleraBacksedesBundle::backsedes.html.twig' %}

{% block article -%}
    <h1>red</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ministerored</th>
                <td>{{ entity.ministeroRed }}</td>
            </tr>
            <tr>
                <th>Idpastor1</th>
                <td>{{ entity.idPastor1 }}</td>
            </tr>
            <tr>
                <th>Idpastor2</th>
                <td>{{ entity.idPastor2 }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('red') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('red_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('red_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
