{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets output='css/mystyle2.css' filter='cssrewrite,yui_css' debug=false 
'bundles/themesbootstrap/css/bootstrap.css'
'bundles/themesbootstrap/css/bootstrap-responsive.css'
-%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}
    
{% block body -%}
{% endblock %}

{% block javascripts %}
{% javascripts output='js/myscript2.js' filter='yui_js' debug=false
'bundles/themesbootstrap/js/jquery.js'
'bundles/themesbootstrap/js/bootstrap.js'
'bundles/themesbootstrap/js/script.js'
-%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}